*{
  font-family: 'Source Sans Pro', sans-serif;
   
 
}
.al {
    
    margin-top: 155px;
    font-kerning: normal;
    position: fixed;
    margin-left: 500px;
    font-weight: 300;
}

.sh {
    list-style: none;
    float: left;
    line-height: 26px;
    color:silver;
    }

.sgsdj {
    float: left;
    
    margin-left: 40px;
   
    
    
    }


#iuu {
    color: black;
   
    
}

.sgsdj:hover {
    float: left;
    color: black;
    cursor: pointer;
    border-bottom: 2px solid black;
    top: 32px;
    padding-bottom: 10px;
    }


.lo:hover {
    background-color: black;
}
#iuu:hover{
     border-bottom: 2px solid white;
}



.ss:hover {
   color: black;
    cursor:pointer;
    
}

.kslk {
    margin-left: 1200px;
}

.ksjk {
    position: fixed;
}

#ff:hover{
    border-bottom: 2px solid white;
    
}
