*{
  font-family: 'Source Sans Pro', sans-serif;
   
 
}
.al {
    
    margin-top: 155px;
    font-kerning: normal;
    position: fixed;
    margin-left: 500px;
    font-weight: 300;
}

.sh {
    list-style: none;
    float: left;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    line-height: 26px;
    color:silver;
    
    
}

.sgsdj {
    float: left;
    padding-right: 30px;
    
    
}





.lkl {
    margin-left: 1100px;
    }



#iuu {
    color: black;
}

.sgsdj:hover {
    float: left;
    padding-right: 30px;
    color: black;
   cursor: pointer;
    }


.lo:hover {
    background-color: black;
}
